{% extends "base.html" %} {% block content %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">Welcome to Shopsy</p>
    </div>
  </div>
</header>
<br>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p align="justify">
          Welcome to Shopsy – Your One-Stop Online Shopping Destination! </br></br> At
          Shopsy, we bring you the latest fashion, top-quality electronics, and
          everyday essentials at unbeatable prices. Whether you're looking for
          trendy apparel, cutting-edge gadgets, or home décor to enhance your
          space, we’ve got you covered.</br></br> 
          Our wide range of products ensures that
          you find exactly what you need, all in one place. Enjoy a seamless
          shopping experience with fast delivery, secure payment options, and
          easy returns. Browse through our exclusive collections, avail exciting
          discounts, and shop with confidence. With Shopsy, online shopping has
          never been easier or more rewarding! Don't forget to check out our
          daily deals and limited-time offers. </br></br>
          Happy shopping at Shopsy – where
          quality meets affordability!
          
        </p>
      </div>
    </center>
  </div>
</div>

{% endblock %}
