{% extends "base.html" %}
{% block content %}

<br />
<center>
<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="Image"  />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <center>
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text" justified >
            {{product.description}}
          </p>

          {% if product.is_sales %}
          <div class="d-flex justify-content-center small text-warning mb-2">
              <div class="bi-star-fill"></div>
              &nbsp;  &nbsp;  Sale!  &nbsp;  &nbsp; 
              <div class="bi-star-fill"></div>
              </div>

              <!-- Product price-->
              <strike>${{product.price}}</strike>
              &nbsp;
             <strong> ${{product.sale_price}}</strong>
              
          {% else %}
            {{product.price}}
            <br>
            {% comment %} ID : {{ product.id }} {% endcomment %}
          {% endif %}
              <br><br>
              <div class="row justify-content-center">
                <div class="col-md-2">Quantity:</div>
                <div class="col-md-2">
              <select class="form-select form-select-small" id="qty-cart">
                {% comment %} <option selected>Open this select menu</option> {% endcomment %}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            </div>
              <br><br>

        <br>
          <a href="{% url "home" %}" class="btn btn-secondary"> 
              Home
          </a>

          <button class="btn btn-secondary" type="button" value="{{product.id}}" id="add-cart">
            Cart
          </button>
        </center>
        </div>
      </div> 
    </div>
  </div>
</center>
  <br><br><br><br><br><br><br><br><br>
</div>


<script>
  $(document).on('click', '#add-cart', function(e) {  
    e.preventDefault();

    $.ajax({
      type: 'POST',  
      url: '{% url "cart_add" %}',  
      data: {
        //product_id: $(this).val(),
        product_id : $('#add-cart').val(), 
        product_qty: $('#qty-cart option:selected').text(),

        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function(json) {
        console.log(json);
        document.getElementById("cart_quantity").
          textContent = json.qty
          location.reload()
        console.log(product_qty)
          
      },
      error: function(xhr, errmsg, err) {
        //console.log("Error:", errmsg);
      }
    });
  });  
</script>

{% endblock %} 



