{% extends "base.html" %} {% block content %}


<br>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <div class="card">
          <div class="card-header">
           Order - {{order.id}}   -  ${{order.price}}
          </div>
          <div class="card-body">
          <strong> Email</strong> : {{order.email}} <br>
          <strong> FullName</strong> : {{order.full_name}} <br>
           {% if order.shipped_date %}
          <strong> Date_Shipped </strong>:  {{order.shipped_date}}
          
            {% else %}
          <strong> Date_orderd </strong>:   {{order.date_ordered}}
           {% endif %}
           <br>
           <strong>Shipping Address </strong>: <pre>{{order.shipping_address}}</pre>
           <br>
          {% for item in items  %}
          <strong> Item - Quantity - price </strong>: {{item.product}} - {{ item.quantity}} - ${{item.price}} <br>
          {% endfor %}
          <br>
          {% if not order.shipped %}
          <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="shipping_status" value="true">
            <button type="submit" class="btn btn-success">Mark as Shipped</button>
          </form>
          {% else %}
          <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="shipping_status" value="false">
            <button type="submit" class="btn btn-danger">Mark as Not Shipped</button>
          </form>
          {% endif %}
          
          </div>
        </div>
       
      </div>
    </center>
  </div>
</div>

{% endblock %}
